# ============================================
# TN Education Platform — Docker Environment (Example)
# ============================================

# --- MySQL ---
MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=tn
MYSQL_USER=admin
MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD

# --- Backend ---
MYSQL_URL=mysql+pymysql://avnadmin:YOUR_AIVEN_PASSWORD_HERE@datn1-phattran2662002-0d94.l.aivencloud.com:17819/tn
MYSQL_SSL=True
MYSQL_SSL_CA=/app/certs/ca.pem
MONGO_URL=mongodb+srv://YOUR_MONGO_USER:YOUR_MONGO_PASSWORD@cluster.mongodb.net/
MONGO_DB_NAME=tn_db

# JWT
SECRET_KEY=YOUR_JWT_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Google Drive
GOOGLE_DRIVE_CREDENTIALS_FILE=/app/credentials/credentials.json
GOOGLE_DRIVE_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID

# Gemini AI
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Gmail SMTP
SMTP_EMAIL=YOUR_SMTP_EMAIL
SMTP_APP_PASSWORD=YOUR_SMTP_APP_PASSWORD

# VirusTotal
VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY

# --- Frontend ---
VITE_API_BASE_URL=http://116.118.45.116:8000/api/v1
